html,body {
  height: 100%;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  background-color: #444444;


}
header{
    position: fixed;
    width: 100%;
    z-index: 100
}

.top-nav-bar{
 background-color: #101010;
 height: auto;
 text-align: center;

}
.top-nav-bar ul{
    margin: 0;
}
.top-nav-bar li{
   display: inline;
   margin-right: 1px;
   margin-bottom: 0;

}
.top-nav-bar  a {
    background-color: transparent;
    color: #269abc;

    font-family:"Oswald",'sans-serif';
    font-weight: 100;
}
.me {
   color: #269abc;
   font-family:"league gothic condensed";

   overflow:hidden;
   height: 25%;
   width: 45%;
   /*border: solid #777777;*/
   border-radius: 15px 15px 15px 15px;
   padding: 10px;
   /*background-color: #204d74;*/
   z-index: 100;
   margin: auto;
   position: absolute;
   top: 50%; left: 0; bottom: 50%; right: 0;
}



#logo{
    width: 75px;
    height: 60px;
}

.container {
    position: relative;
    /*border: solid 1px wheat;*/
    height: 100%;
    background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../content/desk2.jpg");

    background-repeat:no-repeat ;
    background-size: cover;
    z-index: 1;

}