<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Site</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}/static/content/league-gothic-fonts/webfonts/league-style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/Site.css">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header>
             <nav class="top-nav-bar">
                <img id="logo" src="{{ STATIC_URL }}/static/content/logo2.jpg">
                <ul>
                    <li><a class="main-nav btn" href="/">Home</a></li>
                    <li><a class="main-nav btn" href="/about">About</a></li>
                    <li><a class="main-nav btn" href="/work">Work</a></li>
                    <li><a class="main-nav btn"  href="/contact">Contact</a></li>
                </ul>
            </nav>

    </header>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <script src="{{ STATIC_URL }}/static/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}/static/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}/static/js/Site.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>